/* About.css */

/* Estilo geral */
.app-container {
    position: relative;
    min-height: 100vh;
    width: 100vw;
    overflow-y: auto;
    overflow-x: hidden;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* Coloca o Canvas atrás do conteúdo */
}

/* Estilo para a seção de informações */
.info-section {
    background-color: rgba(50, 50, 50, 0.8);
    color: white;
    padding: 40px;
    border-radius: 8px;
    width: 60%;
    margin-top: -75%;
    max-width: 800px;
    margin: -700px auto;
    font-family: Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Adiciona sombra para destaque */
}

/* Estilo para os títulos da seção de informações */
.info-section h2 {
    margin-bottom: 20px;
    /* Espaço abaixo do título */
    font-size: 28px;
    /* Tamanho maior para o título */
}

/* Estilo para os parágrafos da seção de informações */
.info-section p {
    margin-bottom: 15px;
    /* Espaçamento entre parágrafos */
    line-height: 1.6;
    /* Espaçamento entre linhas para melhor legibilidade */
}

/* Estilo para a lista de membros */
.info-section ul {
    text-align: left;
    margin: 0 auto 15px auto;
    /* Centraliza a lista e adiciona margem inferior */
    padding-left: 20px;
    /* Espaço para os marcadores */
    list-style-type: disc;
    /* Tipo de marcador */
    max-width: 500px;
    /* Limita a largura da lista */
}

/* Estilo para os botões */
button {
    margin: 10px 10px 0 10px;
    /* Espaçamento entre botões */
    padding: 60px 60px; 
    /* Espaçamento interno do botão */
    background-color: #007BFF;
    /* Cor de fundo azul */
    color: white;
    /* Cor do texto branco */
    border: none;
    /* Remove bordas do botão */
    border-radius: 4px;
    /* Bordas levemente arredondadas */
    cursor: pointer;
    /* Cursor de ponteiro ao passar sobre o botão */
    font-size: 16px;
    /* Tamanho da fonte no botão */
    transition: background-color 0.3s ease;
    /* Transição suave para hover */
}

/* Estilo de hover para os botões */
button:hover {
    background-color: #0056b3;
    /* Muda a cor do fundo ao passar o mouse */
}

/* Estilo para a foto do grupo */
.group-photo {
    margin-top: 20px;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Adiciona sombra à foto */
}

.button-container {
    display: flex;
    justify-content: center;
    /* Centraliza os botões */
    gap: 10px;
    /* Adiciona espaçamento horizontal entre os botões */
    margin-top: 20px;
    /* Espaçamento acima dos botões */

}