@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
  font-family: 'Press Start 2P', sans-serif;
}

body {
  background-color: black;
}

.app-container, .about-container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.start-text {
  position: absolute;
  bottom: 5%; /* Posição na parte inferior da tela */
  left: 50%;
  transform: translateX(-50%); /* Centraliza horizontalmente */
  font-size: 14px;
  color: white;
  letter-spacing: 1.5px;
  z-index: 20; /* Garante que o texto fique acima do overlay */
}

.info-card {
  position: absolute;
  bottom: 80px; /* Posiciona o card perto da parte inferior */
  right: 30px; /* Alinha o card à direita da tela */
  background: rgba(0, 0, 50, 0.8); /* Fundo translúcido com tema espacial */
  color: white;
  padding: 40px 40px 60px 40px;
  border-radius: 15px; /* Bordas arredondadas suaves */
  border: 2px solid rgba(255, 255, 255, 0.6); /* Borda suave branca */
  text-align: left; /* Alinhar o texto à esquerda */
  width: 40%; /* O card cobre 60% da largura da tela */
  z-index: 20; /* Fonte 8-bit */;
  font-size: 16px; /* Tamanho da fonte confortável para leitura */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Sombra leve para dar profundidade */
  line-height: 25px;
}


.info-card-content {
  margin-bottom: 50px; /* Garante que o botão não sobreponha o texto */
}

.about-btn {
  text-decoration: none;
  position: fixed; 
  top: 30px; 
  right: 30px;
  background-color: #1a1a40;
  color: white;
  border: 2px solid #ffffff;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  z-index: 25;
}

.about-btn:hover {
  background-color: #333366;
}

/* Botões dentro do contêiner de controles */
.controls .btn {
  background-color: #1a1a40;
  color: white;
  border: 2px solid #ffffff;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
}

.controls .btn:hover {
  background-color: #333366; /* Efeito de hover com uma cor mais clara */
}

/* Botões de controle, como "Livre" e "Tour Guiada", centralizados */
.controls {
  position: absolute;
  bottom: 10%; /* Posiciona o contêiner dos botões 10% acima da parte inferior */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  z-index: 20;
}

/* Botão fixo no canto inferior direito */
.fixed-btn {
  position: fixed; /* Fixa o botão na tela, independentemente do conteúdo */
  bottom: 30px; /* 10px a partir da parte inferior */
  right: 30px; /* 10px a partir da direita */
  background-color: #1a1a40;
  color: white;
  border: 2px solid #ffffff;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
}

.fixed-btn:hover {
  background-color: #333366; /* Efeito de hover com uma cor mais clara */
}



/* Animação de pulsação */
@keyframes pulse {
  0% {
      opacity: 0.9;
  }
  50% {
      opacity: 0.7;
  }
  100% {
      opacity: 0.9;
  }
}

/* Estilo do overlay escuro */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9); /* Começa com uma opacidade de 0.9 */
  z-index: 10;
  opacity: 0.9; /* O overlay inicia com 0.9 de opacidade */
  animation: pulse 2s infinite ease-in-out; /* Animação de pulsação */
  transition: opacity 4s ease-in-out; /* Transição suave de 4 segundos para desaparecer */
}

/* Classe de fade-out que remove a pulsação */
.fade-out {
  animation: none; /* Remove a animação de pulsação */
  opacity: 0; /* Fica totalmente transparente após 4 segundos */
  pointer-events: none; /* Desabilita interação com o overlay após desaparecer */
}


.astronaut-animation {
  position: absolute;
  bottom: 0;
  left: 0;
  width: auto;
  height: 80vh; /* O astronauta ocupará até 80% da altura da tela */
  z-index: 25;
  overflow: hidden;
  box-sizing: border-box;
  opacity: 0; /* Inicia invisível */
  transition: opacity 0.5s ease-in-out;
}

.astronaut-animation.show {
  opacity: 1; /* Torna o astronauta visível */
}

.astronaut-animation img {
  height: 100%;
  width: auto;
  margin: 0; /* Remova qualquer margem que possa causar o scroll */
  padding: 0; /* Remova qualquer padding extra */
  display: block; /* Garante que a imagem se comporte como um bloco, evitando espaços extras */
  border: none; /* Remove qualquer borda */
  overflow: hidden; /* Impede qualquer overflow de causar scroll */
}